<ul class='breadcrumb'>
  <li class='active'><a href='<%= @doc[:doc_url] %><%= @doc[:link_extension] %>'><%= @doc[:name] %> <%= @doc[:resources].values.first && @doc[:resources].values.first[:version] %></a></li>
  <%= render(:partial => "languages", :locals => {:doc_url => @doc[:doc_url]}) %>
  <% if @versions && @versions.size > 1 %>
  <li class='pull-right'>
    <%= @versions.collect { |v| link_to v, Apipie.full_url(v+@doc[:link_extension]) }.join(' / ').html_safe %>
  </li>
  <% end %>
</ul>

<div><%= raw @doc[:info] %></div>

<h1 class='page-header'><%= t('apipie.resources') %></h1>

<% @doc[:resources].sort_by(&:first).each do |key, api| %>
  <h2>
    <%= api[:name] %>
    <small><%= api[:short_description] %></small>
  </h2>

  <ul class="collapsible" data-collapsible="expandable">
    <% api[:methods].each do |m| %>
      <%#= ap(api).html_safe %>

      <% if !m[:show] %>
        <% next %>
      <% end %>

      <% m[:apis].each do |a| %>
        <li>
          <div class="collapsible-header">
            <div class="chip <%= a[:http_method].downcase! %>"><%= a[:http_method] %></div>

            <%= a[:api_url] %>

            <div class="right">
              <span class="left"><%= a[:short_description] %></span>

              <% if a[:deprecated] %>
                <%= fa_icon 'exclamation-triangle', class: 'red-text text-lighten-2' %>
              <% elsif a.dig :metadata, :status == :pending %>
                <%= fa_icon 'comments', class: 'orange-text text-lighten-2' %>
              <% elsif a.dig :metadata, :status == 'ok' %>
                <%= fa_icon 'check', class: 'green-text text-lighten-2' %>
              <% elsif a[:metadata].blank? %>
                <%= fa_icon 'question' %>
              <% end %>
            </div>
          </div>

          <div class="collapsible-body">
            <h3>Full description</h3>

            <%= raw m[:full_description] %>

            <h3>Parameters</h3>

            <table class="bordered centered">
              <thead>
                <tr>
                  <th data-field="full_name">Full Name</th>
                  <th data-field="name">Required</th>
                  <th data-field="price">Allow null</th>
                </tr>
              </thead>

              <tbody>
                <% m[:params].each do |param| %>
                  <tr>
                    <td><%= param[:full_name] %></td>
                    <td><%= param[:required] ? t('apipie.required') : t('apipie.optional') %></td>
                    <td><%= param[:allow_nil] ? ', '+t('apipie.nil_allowed') : '' %></td>
                  </tr>



                  <%#= param[:description].html_safe %>

              <%#- if param[:validations].present? || param[:validator].present? %>
                <!-- <p><strong>Validations:</strong></p> -->
<!--
                <ul>
                  <%#- if param[:validator].present? %>
                    <li><%#= Apipie.markup_to_html(param[:validator]).html_safe %></li>
                  <%#- end %>

                  <%#- param[:validations].each do |item| %>
                    <li><%#= item.html_safe %></li>
                  <%#- end %>
                </ul>
              <%#- end %>
 -->
              <%# unless param[:metadata].blank? %>
                <!-- <br> -->
                <!-- Metadata: -->
                <%#= render(:partial => "metadata", :locals => {:meta => param[:metadata]}) %>
              <%# end %>
              <% end %>
            </tbody>
          </table>

          <% if m[:metadata].present? %>
            <h3>Metadata</h3>

            <table class="bordered centered">
              <thead>
                <tr>
                  <th data-field="full_name">Full Name</th>
                  <th data-field="name">Required</th>
                  <th data-field="price">Allow null</th>
                </tr>
              </thead>

              <tbody>
                <% m[:params].each do |param| %>
                  <pre class="prettyprint lang-yaml"><%= param[:meta].to_yaml.gsub(/---\n/, "") %></pre>
                <% end %>
              </tbody>
            </table>
          <% end %>


            <% unless a[:formats].blank? %>
              <%= heading(t('apipie.supported_formats'), h_level) %>
              <%= a[:formats].join(', ') %>
            <% end %>

            <% unless a[:errors].blank? %>
              <%= heading(t('apipie.errors'), h_level) %>
              <%= render(:partial => "errors", :locals => {:errors => a[:errors]}) %>
            <% end %>

            <% unless a[:examples].blank? %>
              <%= heading(t('apipie.examples'), h_level) %>
              <% a[:examples].each do |example| %>
                <pre class="prettyprint"><%= example %></pre>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>


<% @doc[:resources].sort_by(&:first).each do |key, api| %>
  <h2>
    <a href='<%= api[:doc_url] %><%= @doc[:link_extension] %>'>
      <%= api[:name] %>
    </a><br>
    <small><%= api[:short_description] %></small>
  </h2>
  <table class='table'>
    <thead>
      <tr>
        <th><%= t('apipie.resource') %></th>
        <th><%= t('apipie.description') %></th>
      </tr>
    </thead>
    <tbody>
      <% api[:methods].each do |m| %>
        <% if !m[:show] %>
          <% next %>
        <% end %>
        <% m[:apis].each do |a| %>
          <tr>
            <td>
              <a href='<%= m[:doc_url] %><%= @doc[:link_extension] %>'><%= a[:http_method] %> <%= a[:api_url] %></a>
              <% if a[:deprecated] %>
                <code>DEPRECATED</code>
              <% end %>
            </td>
            <td width='60%'><%= a[:short_description] %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless content_for(:apipie_footer) == @doc[:copyright] %>
  <%= content_for :apipie_footer, raw(@doc[:copyright]) %>
<% end %>
